<%= form_with model: @post do |form| %>
    <% if form.errors.any? %>
        <div>
            <h2><%= pluralize(form.errors.count, "error")%> 
            prohibited this post from being saved!</h2>

            <ul>
                <% form.errors.each do |error| %>
                    <li><% error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% form.text_area :title%>
    <% form.text_area :body, placeholder: "What's on your mind?" %>
    <% form.submit %>
<% end %>